/*=============== FONT ===============*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

/*=============== GLOBAL ===============*/
:root {
    --shadow: 9px 9px 21px #c9c9c9, -9px -9px 21px #ffffff;
    --gris: #ededed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--gris);
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100%;
    /* display: flex;
    flex-direction: column; */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.header__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.header__navbar-item {
    color: white;
    font-size: 1.5em;
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
}

.header__navbar-item:hover {
    color: blue
}

/*=============== ICON HAMBURGER MENU ===============*/
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/*=============== MAIN ===============*/
.container {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container__grid {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "general gastos"
    "general ingresos"
    "registros registros"
    "botones botones"
    "btnReiniciar btnReiniciar";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 300px 50px 10px;
    gap: 2em;
}
.container i {
    font-size: 3em;
}

.contaner__balance-text {
    color: #171717;
    font-size: 2em;
    font-weight: 400;
    padding-left: 10px;
}

.general {
    font-weight: 700;
    font-size: 2.2em;
}

.container__balance-general {
    grid-area: general;
}

.container__balance-gastos {
    grid-area: gastos;
}

.container__balance-ingresos {
    grid-area: ingresos;
}

.container__balance-general,
.container__balance-gastos,
.container__balance-ingresos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2em;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background: var(--gris);
    box-shadow: var(--shadow);
}

.container__registros {
    grid-area: registros;
    border-radius: 18px;
    background: var(--gris);
    box-shadow: var(--shadow);
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    padding: 20px;
}

.container__registros-items {
    max-height: 200px;
    overflow-y: scroll;
}

.tRegistros{
    margin-bottom: 1em;
    font-weight: bold;
}

.container__registros-item{
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #17171756;
    padding: 20px 0;
}

.container__registros-item--tipo {
    font-weight: 700;
}

.container__buttons {
    grid-area: botones;
    display: flex;
    justify-content: center;
}
.container__buttons i {
    font-size: 1.2em;
    margin-right: 2px;
}
.container__buttons--gasto,
.container__buttons--ingreso {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 12px;
    padding: 0 10px;
}

.container__buttons--gasto{
    background: #b42929;
    margin-right: 1em;
}

.container__buttons--ingreso{
    background-color: #3c3caf;
}

.container__buttons--gasto:active{
    box-shadow: inset 20px 20px 60px #990000,
    inset -20px -20px 60px #cf0000;
}

.container__buttons--ingreso:active{
    box-shadow: inset 20px 20px 60px #000098,
    inset -20px -20px 60px #0000ce;;
}

.containerBtnReiniciar {
    grid-area: btnReiniciar;
    display: flex;
    justify-content: center;
}

.btnReiniciar {
    background-color: transparent;
    font-size: 1.5em;
}

.btnReiniciar:hover {
    color: #990000;
}

.containerDolar h2 {
    text-align: center;
    color: #171717;
    font-size: 2.5em;
    font-weight: 700;
}
.contizacionHoy{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contizacionHoy i {
    font-size: 4em;
    margin-bottom: 50px;
}

.contizacionHoy__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contizacionHoy__form select {
    font-size: 2em;
    font-weight: 400;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.contizacionHoy__btn {
    background-color: #ffffff;
    color: #171717;
    font-size: 2em;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 10px;
    height: 30px;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.contizacionHoy__btn i {
    font-size: 1em;
    margin: 5px;
}

.contizacionHoy__result {
    margin-top: 30px;
}

.contizacionHoy__result h3 {
    color: #171717;
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
}

.contizacionHoy__result > h3 > span {
    font-weight: 700;
}

/*=============== FOOTER ===============*/
.footer {
    width: 100%;
    background-color: #171717;
    align-self: flex-end;
}

.footerContainer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer H2 {
    color: white;
    font-size: 1.5em;
    text-align: center;
}


/*=============== INNERHTML DOM ===============*/
.containerButton{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tRegistroIngreso {
    font-size: 3em;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.formInput {
    border-bottom: 1px solid #171717;
    margin-bottom: 20px;
    font-size: 2em;
    background-color: var(--gris);
    padding: 5px;
}

.formInput:focus {
    outline: none;
    background-color: white;
}

.btnRegistroIngreso {
    border: none;
    background-color: rgb(0, 0, 201);
    color: white;
    padding: 8px;
    font-size: 1.7em;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

.btnVolver {
    border: none;
    background-color: #990000;
    color: white;
    padding: 5px;
    font-size: 1.5em;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

/*=============== TOASTIFY ===============*/
.tostada {
    font-size: 2em;
}

/*=============== MEDIAQUERIES ===============*/
@media screen and (max-width: 815px) {
    /* MENU HAMBURGUESA */
    .hamburger {
        display: block;
    }

    .hamburger.active .hamburger__bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .hamburger__bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .hamburger__bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg)
    }

    .header__navbar {
        background: #000000;
        height: 100%;
        width: 100%;
        position: fixed;
        left: -100%;
        top: 0;
        row-gap: 10px;
        padding-top: 80px;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 auto;
        transition: 0.3s;
    }

    .header__navbar.active {
        left: 0;
    }

    .container {
        width: 90vw;
    }

    .container__grid {
        grid-template-areas: 
        "general general"
        "gastos gastos"
        "ingresos ingresos"
        "registros registros"
        "botones botones"
        "btnReiniciar btnReiniciar";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 70px 70px 300px 50px 10px;
    }
}